@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #db0000;
  --secondary-color: #831010;
  --black-color: #000000;
  --white-color: #ffffff;
  --gray-color: #564d4d;
}

.img {
  max-width: 100%;
  display: block;
}

.btn_primary {
  background-color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  color: var(--white-color);
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar_container{
    border-bottom: 1px solid var(--gray-color);
}

@media (max-width: 640px) {
  .btn_primary {
    font-size: 12px;
    padding: 6px 10px;
  }
}

@media (max-width: 450px) {
  .navbar_logo {
    gap: 0px;
  }
  .navbar_logo h2 {
    font-size: 14px;
  }

  .navbar_logo figure img {
    width: 26px;
  }
}

@media (min-width: 2500px) {
  .btn_primary {
    font-size: 22px;
    padding: 16px 22px;
  }

  .navbar_logIn {
    font-size: 22px;
  }

  .navbar_logo h2 {
    font-size: 28px;
  }

  .navbar_logo figure img {
    width: 60px;
  }
}



/* Hero Section Styles */
