@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #db0000;
  --secondary-color: #831010;
  --black-color: #000000;
  --white-color: #ffffff;
  --gray-color: #564d4d;
}

.img {
  max-width: 100%;
  display: block;
}

.btn_primary {
  background-color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
  color: var(--white-color);
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar_container {
  border-bottom: 1px solid var(--gray-color);
}

@media (max-width: 640px) {
  .btn_primary {
    font-size: 12px;
    padding: 5px 10px;
  }
}

@media (max-width: 450px) {
  .navbar_logo {
    gap: 0px;
  }
  .navbar_logo h2 {
    font-size: 14px;
  }

  .navbar_logo figure img {
    width: 26px;
  }
}

@media (min-width: 2500px) {
  .btn_primary {
    font-size: 22px;
    padding: 16px 32px;
  }

  .navbar_logIn {
    font-size: 22px;
  }

  .navbar_logo h2 {
    font-size: 28px;
  }

  .navbar_logo figure img {
    width: 60px;
  }
}

/* Hero Section Styles */
.centered_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: var(--white-color);
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.hero_section {
  background:
    radial-gradient(100% 100% at 0% 0%, rgba(219, 0, 0, 0.25), transparent 60%),
    radial-gradient(
      100% 100% at 100% 100%,
      rgba(219, 0, 0, 0.15),
      transparent 60%
    ),
    #0b0b0b;
}

.hero_btn_start {
  background-color: var(--primary-color);
  color: var(--white-color);
  gap: 10px;
}

.hero_btn_video {
  background-color: transparent;
  border: 2px solid var(--gray-color) !important;
  gap: 10px;
}

@media (max-width: 640px) {
  .centered_flex {
    padding: 10px 14px;
  }
}

/* showcase section styles */
.showcase_section {
  background:
    radial-gradient(
      100% 100% at 100% 0%,
      rgba(219, 0, 0, 0.15),
      transparent 60%
    ),
    #0b0b0b;
}

.slider-wrapper {
  position: relative;
}
.slider_image {
  width: 100%;
  max-width: 440px; /* optional cap for large screens */
  margin: 0 auto; /* keeps it centered */
}

.slider_image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Creatorflow */

.creator_flow_section, .trust_section {
  background: #0b0b0b;
}


.trust_container {
  max-width: calc(100% - 100px);
  background: #171615;
}

/* CTA section */

.cta_section{
   background:
    radial-gradient(
      100% 100% at 100% 0%,
      rgba(219, 0, 0, 0.15),
      transparent 60%
    ),
    #0b0b0b;
}